{% extends "layout.html" %}

{% block title %}Edit User{% endblock %}

{% block content %}
<h2>Edit User</h2>

<form action="/submit_edit_user" method="POST">

<input type="hidden" name="id" value="{{ user['id'] }}">

Username: <input type="text" name="username" value="{{ prefilled['username'] }}"> <br>

Password: <input type="text" name="password" value="{{ prefilled['password'] }}"> <br>

First name: <input type="text" name="first_name" value="{{ prefilled['first_name'] }}"> <br>

Last name: <input type="text" name="last_name" value="{{ prefilled['last_name'] }}"> <br>

Enabled: <input type="text" name="enabled" value="{{ prefilled['enabled'] }}"> <br>

<input type="hidden" name="csrf_token" 
value="{{ csrf_token() }}">

<input type="submit" value="Send">

</form>

{% endblock %}
