{% extends "layout.html" %}

{% block title %}Front page{% endblock %}

{% block content %}

<h2>Front page</h2>

<h3>Documents</h3>

<table border="1">
<tr>
   <th>Id</th>
   <th>Title</th>
   <th>Filename</th>
   <th>Description</th>
   <th>Last Modified By</th>
   <th>Created By</th>
   <th>Created Date</th>
   {% if session.is_admin %}
   <th>Edit</th>
   {% endif %}
</tr>
{% for doc in docs %}
<tr>
   <td><a href="/view_doc/{{ doc["id"] }}">{{ doc["id"] }}</a></td>
   <td><a href="/view_doc/{{ doc["id"] }}">{{ doc["title"] }}</a></td>
   <td>{{ doc["file_name"] }}</td>
   <td>{{ doc["description"] }}</td>
   <td>{{ doc["modified_by"]}}</td>
   <td>{{ doc["created_by"] }}</td>
   <td>{{ doc["created_date"] }}</td>
   {% if session.is_admin %}
   <td><a href="/edit_doc/{{ doc["id"] }}">Edit</a></td>
   {% endif %}
{% endfor %}
</table>

{% endblock %}
