<!doctype html>

<title>Document Application - {% block title %}{% endblock %}</title>

<h1>Document Application</h1>

{% if session.username %}
    <a href="/">Documents</a>
    {% if session.is_admin %}
        <a href="/settings">Settings</a>
    {% endif %}
{% endif %}

<hr>

{% with messages = get_flashed_messages() %}

   {% if messages %}

      {% for message in messages %}

         <p>{{ message }}</p>

      {% endfor %}

   {% endif %}

{% endwith %}

{% block content %}{% endblock %}

<hr>

{% if session.id %}

<p>logged in as 
{{ session.first_name }}
{{ session.last_name }}, alias
'{{ session.username }}'.
{% if session.is_admin %}
&nbsp; you are administrator.
{% endif %}
{% if session.is_superuser %}
&nbsp; you are superuser!.
{% endif %}
</p>

<a href="/logout">Log out</a>

{% else %}

<p>You are not logged in, stranger.</p>

{% endif %}

