{% extends "layout.html" %}

{% block title %}View Document Notes History{% endblock %}

{% block content %}
<h2>View Document Note History</h2>

<h3>Note modification history: </h3>
<p>
{% for note in temporal_notes %}
<div style="width: 100%; max-width: 500px;">
    <input style="width: 100%;" type="text" cols=80 name="title" value="{{ note['title'] }}"> <br>
    <textarea style="width: 100%;" type="textarea" cols=80 rows=10 wrap="hard" name="content">{{ note['content'] }}</textarea>
</div>
Modified by: {{ note["modified_by"] }}
<br>
Modified date: {{ note["modified_date"] }}
<br>

</p>
{% endfor %}

{% endblock %}
